.filter_cont {
    padding: 2rem 2rem 1rem;
}

.filter_sec_cont {
    margin-bottom: 1.8rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #a4a4a4;
    height: auto;
    max-height: 12rem;
    transition: max-height .2s;
}
.filter_sec_cont_collapsed {
    max-height: 1.9rem;
    overflow: hidden;
}

.filter_title {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 0rem 0rem .8rem;
}
.filter_title:hover { cursor: pointer; }
.filter_title_text {
    font-weight: 400;
    font-size: 1.3rem;
}

.filter_price_input {
    width: 3.6rem;
    height: 1.5rem;
    margin: 2px 8px 0px 7px;
}
.filter_price_btn_cont {
    display: flex;
    justify-content: space-between;
    width: 11.1rem;
    margin: .5rem 1px 0px 5px;
}
.filter_price_btn_cont button {
    width: calc(100% - 20px);
    height: 1.6rem;
    align-items: center;
    font-family: 'Roboto';
    color: white;
    background-color: rgb(45, 45, 45);
    border: none;
    border-radius: 3px;
    margin-left: 5px;
}


.filter_checkbox_sec {
    display: flex;
    margin: 0px 0px .8rem .5rem;
}
.filter_checkbox_name {
    font-size: 1.1rem;
    font-weight: 300;
}

.filter_price_checkbox {
    margin-top: 1rem;
}