.cart {
    position: relative;
    height: calc(100vh - 3.2rem);
}
.cart_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(44, 44, 44);
    padding: .5rem .6rem 0rem;
}
.cart_header_title {
    font-size: 1.5rem;
}
.cart_header_price {
    font-size: 1.4rem;
}
.cart_header_hr {
    height: 2px;
    margin: .2rem .6rem 0px;
    background-color: #b3b3b3;
}

.cart_item_cont {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 6.5rem);
}
.cart_item {
    display: flex;
    margin:  1rem .2rem 0px .8rem;
}
.cart_item_img {
    height: 5.3rem;
    border: 1px solid #b8b8b8;
}
.cart_item_info {
    width: 100%;
}
.cart_item_name {
    font-weight: 500;
    margin-left: 5px;
}
.cart_item_price {
    margin-left: 5px;
}

.cart_item_interact {
    position: relative;
}
.cart_item_interact_amount {
    position: absolute;
    right: -.1rem;
    top: 0rem;
    line-height: 2rem;
    height: 1.9rem;
    width: 2.3rem;
    padding-left: .5rem;
}
.cart_item_interact_index {
    position: absolute;
    right: 0px;
    top: -1rem;
}
.cart_item_interact_increment {
    position: absolute;
    right: 2px;
    top: -.2rem;
    width: 1rem;
}
.cart_item_interact_increment button {
    color: #646464;
    width: 1.4rem;
    height: 1rem;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: transparent;
}
.cart_item_interact_increment button:last-child {margin-top: -2rem;}
.cart_item_interact_delete {
    position: absolute;
    bottom: -3.5rem;
    right: 0px;
    color: #434343;
}
.cart_item_interact_delete:hover { cursor: pointer; }
.cart_item_hr {
    height: 1px;
    margin: .5rem .2rem 0px .6rem;
    background-color: #c5c5c5;
}

.cart_checkout {
    position: absolute;
    bottom: 0px;
    width: 90%;
    margin: .8rem;
    padding: .4rem;
    font-family: 'Roboto';
    font-size: 1.1rem;
    color: white;
    background-color: #212121;
    border: none;
    border-radius: 2px;
}