.no_api_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
}
.no_api_sect {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    width: 22rem;
    min-width: 12rem;
    height: 12rem;
    margin: 1rem;
    padding: 1.5rem;
    background-color: #161616;
    box-shadow: 1px 2px 5px 4px rgba(83, 83, 83, 0.05);
}
.no_api_sect div {
    text-align: center;
    margin-bottom: 2rem;
    color: white
}
.no_api_colors {
    position: absolute;
    width: 100%;
    right: 0rem;
    bottom: -6.2rem;
    color: #444444
}

.no_api_command_text {
    color: darkgray;
    background-color: #80808044;
    margin: 0px 5px;
    padding: 0px 5px;
    white-space: nowrap;
}