.shp_row {
    display: flex;
    gap: 1rem;
    position: relative;
    width: 90%;
    color: #5a5a5a;
    border: 1px solid #949090;
    padding: .5rem;
    margin-bottom: 1rem;
}
.shp_row_img {
    width: 14.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.shp_row_details_cont {
    position: relative;
}
.shp_row_header {
    display: flex;
    justify-content: space-between;
}
.shp_row_title {
    font-weight: 400;
    font-size: 2.2rem;
}
.shp_row_description {
    font-size: 1.34rem;
    margin-top: 1rem;
}
.shp_row_footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.shp_row_price {
 font-size: 1.6rem;
}
.shp_row_btns button {
    font-family: 'Roboto';
    font-weight: 400;
    color: white;
    background-color: #393939;
    border: none;
    border-radius: .2rem;
    margin-left: 1rem;
    height: 1.5rem;
    padding: 0rem 1rem 0rem;
}
.shp_row_btns:last-child span { padding-right: 1.3rem; }
.shp_row_added_title { width: 7.4rem; }

.shp_row_sale_tag {
    position: absolute;
    top: 0px;
    left:0px;
    width: 3.8rem;
    padding: .3rem 0rem;
    font-size: 1.1rem;
    color: white;
    background-color: #ec4a34;
    text-align: center;
    z-index: 2;
}
.shp_row_sale_price_color { color: #e75805 }
.shp_row_sale_old_price {
    color: #797979;
    font-size: 1.6rem;
    font-weight: 300;
    margin-right: 1rem;
    text-decoration: line-through;
}

@media screen and (max-width: 850px) {
    .shp_row_img { width: 12rem; }
    .shp_row_title { font-size: 1.8rem; }
    .shp_row_price { font-size: 1.4rem; }
    .shp_row_sale_old_price { font-size: 1.4rem; margin-right: .4rem; }
    .shp_row_description {
        font-size: 1.1rem;
        margin-top: .5rem;
    }
    .shp_row_btns button { margin-left: .4rem; padding: 0rem .8rem 0rem; }
}

@media screen and (max-width: 750px) {
    .shp_row_img { width: 11rem; }
    .shp_row_title { font-size: 1.5rem; }
    .shp_row_price { font-size: 1.3rem; }
    .shp_row_sale_old_price { font-size: 1.3rem; }
    .shp_row_description { font-size: 1.05rem; }
}