.shp_tile {
    position: relative;
    width: 14.5rem;
    text-align: center;
    margin-bottom: .8rem;
}
.shp_tile_img_cont {
    width: 13.5rem;
    position: relative;
    border: 1px solid #949090;
    padding: .5rem;
    padding-bottom: .3rem;
}
.shp_tile_img {
    width: 98%;
    border: 1px solid rgb(218, 218, 218);
}
.shp_tile_interaction {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: #30303047;
    width: 14.5rem;
    height: 14.45rem;
    margin:0px;
    color: white;
}
.shp_tile_interaction:hover {
    opacity: 1;
}


.shp_tile_added_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.9rem;
    height: 6.9rem;
    margin-bottom: 1.3rem;
    border-radius: 100rem;
    font-size: 1.5rem;
    background-color: hsla(0, 0%, 0%, 0.6);
}

.shp_tile_interaction_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.9rem;
    height: 6.9rem;
    margin-bottom: 1.3rem;
    border: none; 
    border-radius: 50rem;
    color: white;
    background-color: hsla(0, 0%, 0%, 0.6);
}
.shp_tile_interaction_details {
    font-size: 1.2rem;
    font-family: 'Roboto';
    font-weight: 300;
    padding: .2rem 2rem;
    margin-bottom: 1.6rem;
    border: none; 
    border-radius: 1rem;
    color: white;
    background-color: hsla(0, 0%, 0%, 0.6);
}
.shp_tile_title {
    font-size: 1.8rem;
    font-weight: 400;
    margin: .4rem 0px .5px;
    padding: 0px;
}
.shp_tile_price {
    color: #5a5a5a;
    font-size: 1.5rem;
    font-weight: 400;
}

.shp_tile_sale_tag {
    position: absolute;
    top: 0px;
    left:0px;
    width: 3.8rem;
    padding: .3rem 0rem;
    font-size: 1.1rem;
    color: white;
    background-color: #ec4a34;
    text-align: center;
    z-index: 2;
}
.shp_tile_sale_price_color { color: #e75805 }
.shp_tile_sale_old_price {
    color: #797979;
    font-size: 1.5rem;
    font-weight: 300;
    margin-right: 1rem;
    text-decoration: line-through;
}

@media screen and (max-width: 1000px) {
    .shp_tile_img_cont {
        width: 12.5rem;
        height: 12.5rem;
        padding: .4rem;
        padding-bottom: .4rem;
    }
    .shp_tile_img { width: 99.5%; }
    .shp_tile_interaction {
        width: 13.3rem;
        height: 13.3rem;
    }

    .shp_tile_title { font-size: 1.5rem; margin: .2rem 0px .5px; }
    .shp_tile_price { font-size: 1.3rem; }
    .shp_title_stars { font-size: .5rem; }
    .shp_tile_sale_old_price { font-size: 1.3rem; margin-right: .8rem; }
}