.nav_cont {
    display: flex;
    height: 3.05rem;
    overflow: hidden;
    background-image: url('../../svgs/Background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}


/*Nav===================================================================================*/
.nav_left_sec, .nav_mid_sec, .nav_right_sec {
    border-bottom: 1px solid #979797;
    height: 3rem;
}
.nav_left_sec {
    position: relative;
    min-width: 11rem;
    background-color: #161616;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #161616;
}
.nav_left_sec_shp_lg {
    min-width: 15rem;
}
.nav_mid_sec {
    width: 100%;
    display: flex;
    align-items: center;

    border-left: none;
    border-right: none;

    font-weight: 300;
    font-size: 1.4rem;
}
.nav_right_sec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    min-width: 3rem;
    overflow: hidden;
    border-left: 1px solid #979797;
}
.nav_right_sec_shp_lg {
    min-width: 15.6rem;
    justify-content: end;
    padding-right: .4rem;
}


/*Nav-Items=============================================================================*/
.nav_item {
    position: relative; bottom: 1px;
    margin: auto auto auto .8rem;
    color: hsla(0, 0%, 0%, 0.7);
    text-decoration: none;
}
.nav_item_mobile {
    display: block;
    height: 2.6rem;
    padding: .5rem .5rem 0rem;

    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;

    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.nav_asp_logo {
    position: absolute;
    top: .1rem;
    left: -2.9rem;
    height: 2.9rem;
}
.nav_menu { display: none; }
.nav_cart_side_nav {
    display: inline-block;
    position: relative;
    left: 2px;
    margin-top:1px;
}


/*Side-Nav==============================================================================*/
.side_nav_right {
    display: inline-block;
    position: fixed;
    bottom: 0rem; right: -16.1rem;
    height: 100vh; width: 16rem;
    overflow: hidden;

    border: 1px solid rgba(0, 0, 0, 0.6);
    border-top: none;
    background-color: rgba(255, 255, 255);
    transition: right .5s;

    z-index: 10;
}
.side_nav_right_open { right: 0rem;}
.side_nav_left {
    display: inline-block;
    position: fixed;
    bottom: 0px; left: -13.5rem;
    height: 100vh; width: 13.3rem;
    overflow: hidden;

    border: 1px solid rgba(0, 0, 0, 0.6);
    border-top: none;
    background-color: rgba(255, 255, 255);
    transition: left .5s; 

    z-index: 10;
}
.side_nav_left_open { left: 0rem; }
.side_nav_background {
    display: none;
    position: fixed;
    background-color: rgba(105, 105, 105, 0.0);
    height: 100vh;
    width: 100vw;
    left: 0px; bottom: 0px;
    z-index: 9;
}
.side_nav_background_open {
    display: block;
    background-color: rgba(105, 105, 105, 0.6);
}

.side_nav_bg {
    position: absolute;
    z-index: -1;
    height: 100%;
}


@media screen and (max-width: 900px) {
    .nav_item {
        display: none;
    }
    .nav_left_sec {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        min-width: 3rem;
        background-color: transparent;
        border-bottom: 1px solid #979797;;
    }
    .nav_asp_logo { display: none; }
    .nav_menu {
        display: inline-block;
        position: relative;
        right: 2px; top: 1px;
    }

    .side_nav_background_open {
        display: block;
        background-color: rgba(105, 105, 105, 0.6);
    }
}