.about {
    position: relative;
}
.ab_grid_cont {
    position: relative;
    height: 115vh;
    width: 25rem;
    min-width: 25rem;
    max-width: 25rem;
    background: linear-gradient(to top right, rgb(20, 20, 20) 0%, rgb(39, 39, 39) 50%, rgb(20, 20, 20) 95%);
    overflow: hidden;
}
.ab_grid1 {
    position: absolute;
    top: -3rem; left: -5.2rem;
    width: 140rem;
}
.ab_grid2 {
    position: absolute;
    top: -4rem; left: -10rem;
    width: 145rem;
    height: 107rem;
}

.ab_faq {
    position: absolute;
    top: 0px;

}
.ab_faq_title {
    color: white;
    font-size: 4rem;
    font-weight: 500;
    margin: 2rem 3rem 0px;
}


.ab_faq_sect {
    display: flex;
    align-items: center;
}
.ab_faq_sect_title {
    width: 25rem;
    color: white;
    margin: 0px 6rem 0px 6rem;
    font-size: 1.8rem;
    font-weight: 500;
}
.ab_faq_sect_text {
    font-size: 1.4rem;
    width: 100%;
    margin: 2rem 6rem;
    font-weight: 500;
}

@media screen and (max-width: 1300px) {
    .ab_grid_cont {
        height: calc(141vh - 20vw);
        width: 20rem;
        min-width: 16rem;
        max-width: 16rem;
    }
    .ab_faq_title {
        font-size: 3.5rem;
        margin-left: 1.5rem;
    }

    
    .ab_faq_sect_title {
        width: 18rem;
        margin: 0px 6rem 0px 2rem;
        font-size: 1.6rem;
        font-weight: 400;
    }
    .ab_faq_sect_text {
        font-size: 1.4rem;
        width: 100%;
        margin: 1.5rem 4rem 1.5rem 0rem;
    }
}

@media screen and (max-width: 900px) {
    .ab_grid_cont {
        height: 8rem;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .ab_faq_title {
        font-size: 3rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }
    .ab_faq_sect_title {
        width: 15rem;
        margin: 0px 2rem 0px 1rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: #3f3f3f;
    }
    .ab_faq_sect_text {
        font-size: 1.2rem;
        margin: 1.5rem 1rem 1.5rem 0rem;
        font-weight: 400;
    }
}

@media screen and (max-width: 750px) {
    .ab_grid_cont {
        height: 6rem;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .ab_faq_title {
        font-size: 2.5rem;
        margin: 1.5rem 1rem 3rem;
    }

    .ab_faq_sect {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .ab_faq_sect_title {
        width: 100%;
        margin: 0rem 1rem;
    }
    .ab_faq_sect_text {
        width: calc(100% - 1.5rem);
        margin: .5rem 1rem 2rem;
    }
}