/*Heading===========================================================================*/
.hm_heading {
    position: relative;
    height: 26rem;
    background: linear-gradient(to top right, rgb(20, 20, 20) 0%, rgb(39, 39, 39) 50%, rgb(20, 20, 20) 95%);
    overflow: hidden;
}
.hm_heading_grid1 {
    position: absolute;
    top: -3rem; left: -5.2rem;
    width: 140rem;
}
.hm_heading_grid2 {
    position: absolute;
    top: -4rem; left: -10rem;
    width: 145rem;
    height: 107rem;
}
.hm_heading_logo {
    position: absolute;
    left: -14rem;
    height: 17rem;
    z-index: 1;
}
.hm_heading_snake {
    position: absolute;
    right: -8rem;
    bottom: -14rem;
    height: 38rem;
    z-index: 1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.hm_scroll {
    position: relative;
    width: 100%;
    min-width: 2000px;
    padding: .5rem 0rem .2rem;
    background-color: #282828;
}
.hm_scroll div {
    position: absolute;
    top: .4rem;
    width: 100%;

    display: flex;
    justify-content: space-around;
    animation: scroll1 55s linear infinite;
}
.hm_scroll div:nth-child(2) { animation: scroll2 55s linear infinite; }
.hm_scroll div span {
    color: #464646;
    font-size: 1.1rem;
    font-weight: 500;
    animation: glow 5s linear infinite;
}
.hm_scroll hr {
    position: relative;
    top: -.2rem;
    height: 1px;
    padding: 0px;
    margin: 0px;
    color: #343434;
    background-color: #343434;
    border: none;
}
.hm_scroll hr:last-child { margin-top: 1.3rem;}

@keyframes scroll1 {
    0% { transform: translateX(100%) }
    100% { transform: translateX(0%) }
}
@keyframes scroll2 {
    0% { transform: translateX(0%) }
    100% { transform: translateX(-100%) }
}
@keyframes glow {
    0% { color: #464646; }
    50% { color: #616161; }
    100% { color: #464646; }
}


/*Call-To-Action====================================================================*/
.hm_call2action {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 5rem 0px 13rem;
    color: #404947;
    overflow: hidden;
}
.hm_call2action h1 {
    margin-bottom: 1.2rem;
    font-size: 3.5rem;
    z-index: 1;
}
.hm_call2action h2 {
    margin:0px;
    font-size: 1.7rem;
    font-weight: 400;
    z-index: 1;
}
.hm_call2action button {
    position: relative;
    top: 3rem;
    color: #646666;
    background-color: transparent;
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 400;

    padding: .7rem 6rem;
    border: 1px solid #626665;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}
.hm_call2action_divider1, .hm_call2action_divider2 {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 200px;
    background-color: #c2c2c2;
}
.hm_call2action_divider1 { left: 0px; }
.hm_call2action_divider2 { right: 0px; }
.hm_ellipse_1 {
    position: absolute;
    left: -10rem;
    height: 30rem;
}
.hm_ellipse_2 {
    position: absolute;
    top: -2rem; right: -11rem;
    height: 50rem;
}


/*Options===========================================================================*/
.hm_options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 12rem 0rem 12rem;
    overflow: hidden;
}
.hm_options div { position: relative; }
.hm_options_icon_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1.8rem;
    left: 5.6rem;
    width: 3.5rem;
    height: 3.5rem;
    border: 3px solid #202020;
    border-radius: 100px;
    background-color: white;
}
.hm_options_btn {
    display: inline-block;
    width: 15rem;
    height: 9.5rem;

    color: white;
    background-color: #202020;

    text-align: center;
    line-height: 9.5rem;
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    border-radius: 70px;
}
.hm_options_color {
    position: absolute;
    top: 0rem;
    right: -50rem;
    width: 180rem;
    height: 9.2rem;
    transform: rotate(8deg);
    transform-origin: 69% 50%;
    
}
.hm_options_btn_cont { z-index: 1; }


/*Popular===========================================================================*/
.hm_popular {}
.hm_item_heading_top {
    background-color: #282828;
    padding: .5rem 0rem;
    width: 100%;
}
.hm_item_heading_hr {
    width: 100%;
    height: 2px;
    background-color: #464646;
}
.hm_item_heading_top_text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.hm_item_heading_top_text div {
    width: auto;
    color: #464646;
    font-size: 1.8rem;
    white-space: nowrap;
    margin: 0px; padding: 0px;
}
.hm_item_heading_top_text h3 {
    white-space: nowrap;
    color: #DFDFDF;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0px;
}
.hm_item_heading_bottom_text {gap: .6rem}
.hm_item_heading_bottom_text h3 {
    color: #464646;
    font-size: 1.2rem;
    font-weight: 400;
}
.hm_item_heading_bottom_text div { font-size: 1.2rem; }




/*Testimonials======================================================================*/
.hm_testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50rem;
    padding: 5rem 0rem 6rem;
    text-align: center;
}
.hm_testimonials h2 {
    color: #595959;
    margin: 0px 0px 1rem;
    font-size: 3.3rem;
    font-weight: 500;
}
.hm_testimonial_sub_heading {
    position: relative;
    width: 12rem;
    height: 4rem;
    margin-bottom: 2rem;
}
.hm_testimonial_sub_heading img {
    position: absolute;
    bottom: -1.8rem;
    height: 13rem;
    width: .2rem;
    rotate: 270deg;
}
.hm_testimonial_sub_heading div {
    color: #9C9898;
    padding-top: .2rem;
    font-size: 1.1rem;
    font-weight: 300;
}




@media screen and (max-width: 1500px) {
    .hm_heading { height: 22rem; }
    .hm_heading_logo { left: -10rem; height: 13rem; }
    .hm_heading_snake { right: -8rem; bottom: -12rem; height: 30rem; }

    .hm_call2action { padding: 5rem 0px 11rem; }
    .hm_call2action h1 { margin-bottom: 1.2rem; font-size: 3rem; }
    .hm_call2action h2 { font-size: 1.4rem; }
    .hm_call2action button { top: 2rem; font-size: 1.2rem; padding: .6rem 5rem; }
    .hm_ellipse_1 { left: -7rem; height: 25rem; }
    .hm_ellipse_2 { top: 0rem; right: -8rem; height: 42rem; }


    .hm_options { gap: 4rem; padding: 11rem 0rem 10rem; }
    .hm_options_icon_cont {
        top: -1.2rem; left: 4.6rem;
        width: 2.4rem; height: 2.4rem;
        border: 2px solid #202020;
    }
    .hm_options_btn {
        width: 12rem; height: 7.2rem;
        line-height: 7.2rem; font-size: 1.5rem;
        border-radius: 42px;
    }
    .hm_options_color {
        top: 0rem; right: -50rem;
        width: 180rem; height: 6.7rem;
    }
}

@media screen and (max-width: 1100px) {
    .hm_heading { height: 18rem; }
    .hm_heading_logo { left: -12rem; height: 11rem; }
    .hm_heading_snake { right: -8rem; bottom: -9rem; height: 24rem; }

    .hm_call2action { padding: 4rem 0px 9rem; }
    .hm_call2action h1 { margin-bottom: 1rem; font-size: 2.4rem; }
    .hm_call2action h2 { font-size: 1.1rem; }
    .hm_call2action button { top: 1.6rem; font-size: 1rem; padding: .5rem 4rem; }
    .hm_ellipse_1 { left: -6rem; height: 18rem; }
    .hm_ellipse_2 { top: 0rem; right: -8rem; height: 32rem; }
    .hm_call2action_divider1, .hm_call2action_divider2 { width: 180px; }

    .hm_options { gap: 3rem; padding: 9rem 0rem 8.5rem; }
    .hm_options_icon_cont {
        top: -1.1rem; left: 3.7rem;
        width: 2.4rem; height: 2.4rem;
    }
    .hm_options_btn {
        width: 10rem; height: 6.2rem; line-height: 6.2rem;
        font-size: 1.5rem; border-radius: 36px;
    }
    .hm_options_color {
        top: 0rem;  right: -50rem;
        width: 180rem; height: 5.6rem;
    }
}

@media screen and (max-width: 800px) {
    .hm_heading { height: 15rem; }
    .hm_heading_logo { left: -10rem; height: 8rem; }
    .hm_heading_snake { right: -7rem; bottom: -7rem; height: 19rem; }

    .hm_call2action { padding: 4rem 0px 8rem; }
    .hm_call2action h1 { margin-bottom: 1rem; font-size: 2rem; }
    .hm_call2action h2 { font-size: 1rem; }
    .hm_call2action button { top: 1.3rem; font-size: .9rem; padding: .4rem 3rem; }
    .hm_ellipse_1 { top: 3rem; left: -6rem; height: 16rem; }
    .hm_ellipse_2 { top: 0rem; right: -6rem; height: 26rem; }
    .hm_call2action_divider1, .hm_call2action_divider2 { width: 120px; }

    .hm_options { gap: 1.9rem; padding: 9rem 0rem 8.5rem; }
    .hm_options_icon_cont {
        top: -1rem; left: 3.3rem;
        width: 2.2rem; height: 2.2rem;
    }
    .hm_options_btn {
        width: 9rem; height: 5.6rem; line-height: 5.6rem;
        font-size: 1.2rem; border-radius: 34px;
    }
    .hm_options_color {
        top: 0rem;  right: -50rem;
        width: 180rem; height: 5rem;
    }
}

@media screen and (max-width: 550px) {
    .hm_heading { height: 14rem; }
    .hm_heading_logo { left: -8.8rem; height: 6.5rem; z-index: 2; }
    .hm_heading_snake { right: -9.8rem; bottom: -7rem; height: 17.1rem; }

    .hm_scroll div span { font-size: .9rem; }

    .hm_call2action { padding: 3rem 0px 4.6rem; }
    .hm_call2action h1 { margin: auto 1rem .5rem; font-size: 1.5rem; text-align: center; }
    .hm_call2action h2 { font-size: 1rem; text-align: center; padding: 0rem 1.5rem; width: 12rem;}
    .hm_call2action h2:nth-child(3) { display: none; }
    .hm_call2action button { top: 1rem; font-size: .9rem; padding: .4rem 3rem; }
    .hm_ellipse_1 { top: 3rem; left: -6rem; height: 12rem; }
    .hm_ellipse_2 { top: 0rem; right: -4rem; height: 16rem; }
    .hm_call2action_divider1, .hm_call2action_divider2 { width: 70px; }

    .hm_options {
        flex-direction: column;
        gap: 1.8rem; padding: 2rem 0rem 2rem;
    }
    .hm_options_icon_cont {
        top: -1rem; left: 3rem;
        width: 2.0rem; height: 2.0rem;
    }
    .hm_options_btn {
        width: 8.2rem; height: 4.8rem; line-height: 4.8rem;
        font-size: 1rem; border-radius: 28px;
    }
    .hm_options_color {
        top: 0rem;  right: -50rem;
        width: 180rem; height: 4.2rem;
    }
}