/*Heading===========================================================================*/
.hm_heading {
    position: relative;
    height: 28rem;
    background: linear-gradient(to top right, rgb(20, 20, 20) 0%, rgb(39, 39, 39) 50%, rgb(20, 20, 20) 95%);
    overflow: hidden;
}
.hm_heading_grid1 {
    position: absolute;
    top: -3rem; left: -5.2rem;
    width: 140rem;
}
.hm_heading_grid2 {
    position: absolute;
    top: -4rem; left: -10rem;
    width: 145rem;
    height: 107rem;
}
.hm_heading_logo {
    position: absolute;
    left: -20rem;
    height: 18rem;
    z-index: 1;
}
.hm_heading_snake {
    position: absolute;
    right: -8rem;
    bottom: -15rem;
    height: 40rem;
    z-index: 1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.hm_scroll {
    position: relative;
    width: 100%;
    min-width: 2000px;
    padding: .5rem 0rem .2rem;
    background-color: #282828;
}
.hm_scroll div {
    position: absolute;
    top: .5rem;
    width: 100%;

    display: flex;
    justify-content: space-around;
    animation: scroll1 55s linear infinite;
}
.hm_scroll div:nth-child(2) { animation: scroll2 55s linear infinite; }
.hm_scroll div span {
    color: #464646;
    font-size: 1.1rem;
    font-weight: 500;
    animation: glow 5s linear infinite;
}
.hm_scroll hr {
    position: relative;
    top: -.2rem;
    height: 1px;
    padding: 0px;
    margin: 0px;
    color: #343434;
    background-color: #343434;
    border: none;
}
.hm_scroll hr:last-child { margin-top: 1.3rem;}

@keyframes scroll1 {
    0% { transform: translateX(100%) }
    100% { transform: translateX(0%) }
}
@keyframes scroll2 {
    0% { transform: translateX(0%) }
    100% { transform: translateX(-100%) }
}
@keyframes glow {
    0% { color: #464646; }
    50% { color: #616161; }
    100% { color: #464646; }
}


/*Call-To-Action====================================================================*/
.hm_call2action {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 5rem 0px 13rem;
    color: #404947;
    overflow: hidden;
}
.hm_call2action h1 {
    margin-bottom: 1.2rem;
    font-size: 3.5rem;
    z-index: 1;
}
.hm_call2action h2 {
    margin:0px;
    font-size: 1.7rem;
    font-weight: 400;
    z-index: 1;
}
.hm_call2action button {
    position: relative;
    top: 3rem;
    color: #646666;
    background-color: transparent;
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 400;

    padding: .7rem 6rem;
    border: 1px solid #626665;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
}
.hm_call2action_divider1, .hm_call2action_divider2 {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 200px;
    background-color: #c2c2c2;
}
.hm_call2action_divider1 { left: 0px; }
.hm_call2action_divider2 { right: 0px; }
.hm_ellipse_1 {
    position: absolute;
    left: -10rem;
    height: 30rem;
}
.hm_ellipse_2 {
    position: absolute;
    top: -2rem; right: -11rem;
    height: 50rem;
}


/*Options===========================================================================*/
.hm_options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 12rem 0rem 12rem;
    overflow: hidden;
}
.hm_options div { position: relative; }
.hm_options_icon_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1.8rem;
    left: 5.6rem;
    width: 3.5rem;
    height: 3.5rem;
    z-index: 1;
    border: 3px solid #202020;
    border-radius: 100px;
    background-color: white;
}
.hm_options_btn {
    display: inline-block;
    width: 15rem;
    height: 9.5rem;

    color: white;
    background-color: #202020;

    text-align: center;
    line-height: 9.5rem;
    font-size: 2rem;
    font-weight: 300;
    text-decoration: none;
    border-radius: 70px;
}
.hm_options_color {
    position: absolute;
    right: -50rem;
    width: 180rem;
    height: 9.2rem;
    transform: rotate(8deg);
    transform-origin: 69% 50%;
    z-index: -1;
}


/*Popular===========================================================================*/
.hm_popular {}
.hm_item_heading_top {
    background-color: #282828;
    padding: .5rem 0rem;
    width: 100%;
}
.hm_item_heading_hr {
    width: 100%;
    height: 2px;
    background-color: #464646;
}
.hm_item_heading_top_text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.hm_item_heading_top_text div {
    width: auto;
    color: #464646;
    font-size: 1.8rem;
    white-space: nowrap;
    margin: 0px; padding: 0px;
}
.hm_item_heading_top_text h3 {
    white-space: nowrap;
    color: #DFDFDF;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0px;
}
.hm_item_heading_bottom_text {gap: .6rem}
.hm_item_heading_bottom_text h3 {
    color: #464646;
    font-size: 1.2rem;
    font-weight: 400;
}
.hm_item_heading_bottom_text div { font-size: 1.2rem; }

.hm_item_display{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 30rem;
    background-color: #1F1F1F;
}


/*Testimonials======================================================================*/
.hm_testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50rem;
    padding: 5rem 0rem 6rem;
    text-align: center;
}
.hm_testimonials h2 {
    color: #595959;
    margin: 0px 0px 1rem;
    font-size: 3.3rem;
    font-weight: 500;
}
.hm_testimonial_sub_heading {
    position: relative;
    width: 12rem;
    height: 4rem;
    margin-bottom: 2rem;
}
.hm_testimonial_sub_heading img {
    position: absolute;
    bottom: -1.8rem;
    height: 13rem;
    width: .2rem;
    rotate: 270deg;
}
.hm_testimonial_sub_heading div {
    color: #9C9898;
    padding-top: .2rem;
    font-size: 1.1rem;
    font-weight: 300;
}


/*Footer============================================================================*/
.hm_footer {}
.hm_footer_outlinks {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    margin: 3rem 0rem 1.8rem;
}
.hm_footer_outlinks a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem; height: 3.2rem;
    border-radius: 100px;
    background-color: #1f1f1f;
}
.hm_footer_links {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}
.hm_footer_link {
    color: #828282;
    font-size: 1.1rem;
    text-decoration: none;
}
.hm_footer_resume_project {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 4.2rem;
    color: white;
    font-size: .9rem;
    font-weight: 300;
    background-color: #1f1f1f;
}
.hm_footer_resume_project span { margin-bottom: .4rem; }
.hm_colors_footer { height: 4rem; overflow: hidden; }
.hm_colors_footer img { height: 4.1rem; width: 100%; }