:root {
  --text-color:rgb(74, 74, 74);
}


body {
  font-family: 'Roboto';
  color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  overflow-x: hidden;
}


.scrollCutOff {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url('./svgs/Background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.empty_btn {
  border: none;
  background-color: transparent;
  outline: transparent;
  margin: 0px;
  padding: 0px;
}

.align_right { text-align: right; }
.text_dec_none { text-decoration: none;}
.display_none { display: none;}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1da; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media screen and (max-width: 900px) {
  ::-webkit-scrollbar {
    width: 6px;
  }
}